<div class="container-fluid">
  <div class="row">
    <h3>Uploaded Videos</h3>
  </div>
  <div class="row">
    <table class="table">
      <thead>
      <tr>
        <th>Video Name</th>
        <th>User</th>
        <th>Uploaded at</th>
        <th>URL</th>
      </tr>
      </thead>
      <tbody>
      <% @original_videos.each do |video| %>
      <tr>
        <td><%= video.video_file_name %></td>
        <td><%= "#{video.first_name} #{video.last_name}" %></td>
        <td><%= time_ago_in_words video.created_at %></td>
        <td><%= video.inspect %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-12 text-center flickr_pagination">
      <%= will_paginate @original_videos %>
    </div>
  </div>

</div>