<div>
  <div class="panel panel-primary">
    <div class="panel-heading">Upload your videos</div>
    <div class="panel-body">
      <div class="container-fluid">
      <%= form_tag '/uploadvideo', multipart: true, class: 'form-horizontal' do %>
          <%= hidden_field_tag "video[contest_id]", params[:id] %>
          <div class="form-group">
            <%= label_tag "first_name" %>
            <%= text_field_tag "video[first_name]", nil, {:class => 'form-control', :required => true} %>
          </div>
          <div class="form-group">
            <%= label_tag "last_name" %>
            <%= text_field_tag "video[last_name]", nil, {:class => 'form-control', :required => true} %>
          </div>
          <div class="form-group">
            <%= label_tag "email" %>
            <%= email_field_tag "video[email]", nil, {:class => 'form-control', :required => true} %>
          </div>
          <div class="form-group">
            <%= label_tag "message" %>
            <%= text_field_tag "video[message]", nil, {:class => 'form-control', :required => true} %>
          </div>
          <div class="form-group">
            <%= label_tag "video" %>
            <%= file_field_tag 'video[video]', accept: 'video/*', :required => true %>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Post Video</button>
          </div>
      <% end %>
      </div>
    </div>
  </div>
</div>