<% @count = 1 %>
<% @videos.each do |video| %>
    <% if @count % 3 == 0 %><div class="row"><% end %>
    <div class="col-md-4">
      <div class="thumbnail">
        <video width="320" height="240" controls>
          <source src="<%= video.converted_path %>" type="video/mp4">
          Your browser does not support the video tag.
        </video>

        <div class="caption">
          <strong><%= video.converted_name %></strong>
          <p><%= "#{video.first_name} #{video.last_name}" %></p>
          <p><%= time_ago_in_words video.created_at %></p>
          <p><a href="<%= "mailto:#{video.email}" %>"><%= video.email %></a></p>
        </div>
      </div>
    </div>
    <% if @count % 3 == 0 %></div><br /><br /><br /><% end %>
    <% @count = @count + 1 %>
<% end %>