<div ng-controller="ContestsIndexController">
<h1>Available Contests</h1>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Created</th>
    <th>Start Date</th>
    <th>End Date</th>
    <% if is_user_logged %>
    <th colspan="3">Actions</th>
        <% end %>
  </tr>
  </thead>
  <tbody>
  <% @contests.each do |contest| %>
      <tr>
        <td><a href="<%= contest_url contest %>"> <%= contest.name %></a></td>
        <td><%= contest.description %></td>
        <td><%= time_ago_in_words contest.created_at %></td>
        <td><%= contest.start_date %></td>
        <td><%= contest.end_date %></td>
        <td><i class="glyphicon glyphicon-link"></i> <a href="#" ng-click="copyLink($event, '<%= contest.url %>')" class="btn btn-link">Copy Link</a></td>
        <% if is_user_logged && user_logged_id == contest.user_id %>
            <td><i class="glyphicon glyphicon-edit"></i> <%= link_to 'Edit', edit_contest_path(contest) %></td>
            <td><i class="glyphicon glyphicon-remove"></i> <%= link_to 'Delete', contest, method: :delete  %></td>
            <% else %>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
  <%= render 'contests/contest_copy_url' %>
</div>