<%= javascript_include_tag 'swfobject' %>
<div ng-controller="ContestsShowController">
  <input type="hidden" id="customUrl" name="custom_url" value="<%= @contest.url %>">
  <% if flash[:success] %>
      <div class="alert alert-success" role="alert"><%= flash[:success] %></div>
  <% end %>
  <% if flash[:error] %>
      <div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <h1>Contest <%= @contest.name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"><img src="<%= @contest.media %>" alt="<%= @contest.name %>" class="banner"></div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-2"><h3>Description</h3></div>
    </div>
    <div class="row">
      <div class="col-md-11 col-md-offset-1"><%= @contest.description %></div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-2"><h3>URL</h3></div>
    </div>
    <div class="row">
      <div class="col-md-11 col-md-offset-1">{{ customUrl }}</div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-2"><h3>Created At</h3></div>
    </div>
    <div class="row">
      <div class="col-md-11 col-md-offset-1"><%= time_ago_in_words @contest.created_at %></div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-12"><h3>Award Description</h3></div>
    </div>
    <div class="row">
      <div class="col-md-11 col-md-offset-1"><%= @contest.award_description %></div>
    </div>
  </div>
  <br /><br /><br /><br />
  <%= render "contests/video_list" %>
  <div class="row">
    <div class="col-md-12">
      <%= render "contests/original_videos_list" %>
      <%= render "contests/upload_videos" %>
    </div>
  </div>

</div>

