<%= javascript_include_tag 'swfobject' %>
<div>
  <% if flash[:success] %>
      <div class="alert alert-success" role="alert"><%= flash[:success] %></div>
  <% end %>
  <% if flash[:error] %>
      <div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <h1>Contest <%= @contest.name %></h1>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-2"><h3>Description</h3></div>
    </div>
    <div class="row">
      <div class="col-md-11 col-md-offset-1"><%= @contest.description %></div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-2"><h3>URL</h3></div>
    </div>
    <div class="row">
      <div class="col-md-11 col-md-offset-1"><%= @contest.url %></div>
    </div>
  </div>
  <% @count = 1 %>
  <% @contest.videos.each do |video| %>
      <% if @count % 3 == 0 %><div class="row"><% end %>
        <div class="col-md-4">
          <div class="media">
            <div class="media-bottom">
              <%= video_player({:file => video.original_path}, {:id => "video_" + video.id.to_s, :name => "video_" + video.id.to_s}) %>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%= video.original_name %></h4>
            </div>
          </div>

        </div>
      <% if @count % 3 == 0 %></div><% end %>
      <% @count = @count + 1 %>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <%= render "contests/upload_videos" %>
    </div>
  </div>

</div>

