<!DOCTYPE html>
<html ng-app="videos">
<head>
	<title>Videos01</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/navbar' %>
	<div class="container">
        <%= render 'layouts/error_message'  %>
		<%= yield %>
	</div>
    <%	 if !is_user_logged %>
	<%= render 'home/user_register' %>
	<%= render 'home/user_login' %>
    <%	 end %>

</body>
</html>
